{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/hooks/(.*)$",
    "^@/services/(.*)$",
    "^@/shared/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@../(.*)$",
    "^./(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
